# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Vim temporary files
*.swp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Build Outputs
# =========================

*.gba
*.elf
*.map
*.o
src/*.s
*.dump
tools/agbcc
*.exe
.dep
*.4bpp
*.8bpp
*.gbapal
*.4bpp.h
*.8bpp.h
*.lz
*.fk
data/banim/*.bin

# =========================
# Dump Scripts Output
# =========================

scripts/out/*
scripts/__pycache__/*

# =========================
# Game Save Files
# =========================

*.sav